{% extends 'base.html' %}

{% block menubar %}
	<button type="button" class="w3-bar-item w3-right w3-btn" id="openmodal">
		LOGIN
	</button>
<!--     <button type="button" class="w3-bar-item w3-right w3-btn" data-toggle="modal" data-target="#loginModal">
        LOGIN
    </button> -->
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="w3-panel w3-green w3-container">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="w3-container w3-padding">
        <a href="{{ url_for('upload') }}" class="w3-bar-item w3-right w3-button">REGISTER</a>
        <br><br>
        <table class="w3-table-all">
            <tr>
                <th>IMAGE</th>
                <th>NAME</th>
                <th>E-Mail</th>
                <th>Action</th>
            </tr>
            {% for user in userlist %}
                <tr>
                    <td><img src="{{ user['image'] }}" width="100px"></td>
                    <td>{{ user['name'] }}</td>
                    <td>{{ user['email'] }}</td>
                    <td><button onclick="deleteuser({{ user['id'] }})">&times;</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>  

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">LOGIN</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="loginResult"></div>
                    <!-- Add a new div for recognized names -->
                    <div id="recognizedNames"></div>
                    <div id="scan-box" class="scan-box">
                    	<!-- <div class="scan-box-caption">Unkown</div> -->
                    </div>
                    <div id="loginCamera" class="camera-frame" style="width:450px;height:340px;border:1px solid #c0c0c0">
                    </div>
                </div>
            </div>
        </div>
    </div>

   

<script src="{{ url_for('static', filename='js/webcam.min.js') }}"></script>
<script>
$(document).ready(function() {
    Webcam.set({
        width: 450,
        height: 340,
        image_type: 'jpeg',
        jpeg_quality: 90
    });

    $('.scan-box').hide()

    // var isLoginWebcamActive = false;

    // function initializeLoginWebcam() {
    //   try {
    //     if (!isLoginWebcamActive) {
    //       Webcam.attach("#loginCamera");
    //       isLoginWebcamActive = true;

    //       // Call recognizeFaces when the webcam is fully loaded
    //       recognizeFaces();
    //     }
    //   } catch (error) {
    //     console.error("Error attaching webcam:", error);
    //   }
    // }

    $('#openmodal').on("click", function() {
    	Webcam.attach("#loginCamera");
    	setTimeout(function() {
    		console.log("Open Webcam");
    		recognizeFaces();
    		$("#loginModal").modal('show');
    	}, 2000);
    })

    // Face recognition logic
    function recognizeFaces() {
        $('.scan-box').hide()
        // Make an AJAX request to your Flask route for face recognition
        Webcam.snap(function (data_uri) {
          $.ajax({
              type: "POST",
              url: "/login",
              data: { picture: data_uri },
              success: function (response) {
              	if (response.recognized_names.length > 0) {
                    $('.scan-box').show()
                    const name = response.recognized_names[0].name;
	              	const position = response.recognized_names[0].coordinates[0]
                    const bgColor = name === "Unkown" ? 'red' : 'green';
	              	$('.scan-box').attr("style", `top: ${position[2] - 100}px; left: ${position[1] - 100}px; border: 4px solid ${bgColor};`);
              	
                      var loginResultElement = document.getElementById('loginResult');
                      var recognizedNamesElement = document.getElementById('recognizedNames');

                      if (loginResultElement) {
                          loginResultElement.innerHTML = `<strong>${ name }</strong>`;
                      }

                  

                  // if (recognizedNamesElement) {
                  //     recognizedNamesElement.innerHTML = "<strong>Recognized Names:</strong> " + response.recognized_names.join(", ");
                  // }

                  // Adjust the interval as needed
                    setTimeout(function () {
                        alert(`WELCOME: ${name}`)
                        window.location = "/";  
                    }, 2000);
                      
                }
              },
              error: function (error) {
                  console.error("Error in AJAX request:", error);

                  setTimeout(recognizeFaces, 1000);
              }
            });
        });
    }

    // Call initializeLoginWebcam here or wherever it's appropriate
    // initializeLoginWebcam();
});

</script>

 


{% endblock %}
